.about {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 100px;
  background-color: rgb(116, 127, 224);
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  padding: 60px 30px;
  align-items: center;
  gap: 10px;
  color: rgb(250, 250, 250);
}

.aboutContainer > h2 {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 1.5rem;
}

.aboutContainer > p {
  font-size: 1.1rem;
  font-weight: 300;
  align-self: flex-start;
}

.skillsContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.skillsList {
  padding-top: 30px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.iconGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.iconGroup > span {
  font-size: 0.7rem;
  font-weight: 400;
}

.iconGroup > img {
  height: 60px;
  width: auto;
}

@media (min-width: 600px) {
  .aboutContainer {
    max-width: 900px;
    line-height: 1.5;
    padding: 60px;
  }
}
