.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 4rem;
  padding: 0 60px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 300;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(218, 218, 218);
  transition: all 1s;
  z-index: 3;
}

.navbarList > li {
  display: flex;
}

.navbarList > li > a {
  text-decoration: none;
  color: #121212;
}

.navbarList > li > a:hover {
  text-underline-offset: 5px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: #121212;
}

.activeHeaderResize {
  height: 2.5rem;
  transition: all 1s;
}

.logo {
  display: none;
}

.projects {
  flex: 1;
  justify-content: center;
}

.navbarContainer {
  display: flex;
  flex: 1;
  align-items: center;
}

.navbarList {
  display: flex;
  list-style: none;
  gap: 1rem;
  flex: 1;
}

@media (min-width: 600px) {
  .logo {
    display: block;
    font-size: 25px;
    font-weight: 600;
  }

  .navbarList {
    flex: 0;
    gap: 3rem;
  }

  .navbarContainer {
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
  }
}
