.intro {
  margin-top: 140px;
  color: rgb(21, 21, 21);
}

.introContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.profileImage {
  height: 200px;
  border-radius: 50%;
  border: 3px solid rgb(235, 237, 244);
  background-color: rgb(235, 237, 244);
  user-select: none;
  -webkit-user-select: none;
}

.profileDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileDetails > h1 {
  font-size: 2rem;
  font-weight: 800;
}

.profileDetails > p {
  font-size: 1.4rem;
  font-weight: 400;
}

.logo {
  padding-top: 10px;
  height: 30px;
  width: auto;
  fill: rgb(21, 21, 21);
}

.logo:hover {
  fill: rgb(63, 63, 63);
}

.contactDetails {
  display: flex;
  gap: 10px;
  align-items: center;
}

.button {
  cursor: pointer;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (min-width: 600px) {
  .introContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .profileDetails {
    align-items: flex-start;
  }
}
